.main {
  height: 100px;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.main nav {
  display: flex;
  align-items: center;
}

.main nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
