.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
}

.form input {
  padding: 0.4rem;
  border-radius: 4px;
}

.form button {
  padding: 0.4rem;
  border-radius: 4px;
}
